:root {
    --root-primary-color: #E3F2FD;
    --root-secondary-color: #415A77;
    --root-header-txt-color: #000000;
    --root-span-txt-color: #ffffff;
    --root-tertiary-color: #64B5F6;
    --root-span-hover-color: #374b63;
    --root-td-color: #858e9e;
    --root-background-color: #eee;
    --root-space: 1rem;
    --root-half-space: calc(var(--root-space) / 2);
    --root-double-space: calc(var(--root-space) * 2);
    --root-border-style: solid;
    --root-border-width: 1px;
    --root-border-radius: var(--root-space);
}

body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2 * var(--root-space));
    width: calc(100% - 2 * var(--root-space));
    margin: var(--root-space);
    background-color: var(--root-primary-color);
    font-family: Verdana, Helvetica, sans-serif;
}

header {
    height: 10%;
    max-height: 20%;
    color: var(--root-header-txt-color);
    background-color: var(--root-tertiary-color);
    border-radius: var(--root-border-radius);
    text-align: left;
}

header h1 {
    padding: var(--root-half-space);
}

#titleInstance {
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--root-secondary-color);
    border-radius: 0 0 var(--root-border-radius) var(--root-border-radius);
}

nav:first-child {
    border-radius: var(--root-border-radius) 0 0 var(--root-border-radius);
}

span {
    padding: 1.25rem;
    color: var(--root-span-txt-color);
}

span:hover {
    cursor: pointer;
    background-color: var(--root-span-hover-color);
    border-radius: var(--root-border-radius);
}

.mainContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: var(--root-space);
    color: var(--root-secundary-color);
    background-color: var(--root-secundary-color);
}

.link {
    display: none;
    padding: var(--root-half-space);
    margin: var(--root-space) var(--root-space) var(--root-space) 0;
    color: var(--root-background-color);
    background-color: var(--root-secondary-color);
    border-radius: var(--root-border-radius);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

#area-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: var(--root-space) 0;
    font-size: 1rem;
    text-align: left;
    border: var(--root-border-width) solid var(--root-secondary-color);
}

thead {
    background-color: var(--root-secondary-color);
    color: var(--root-span-txt-color);
}

thead th {
    padding: var(--root-half-space);
    text-transform: uppercase;
    font-weight: bold;
}

td,
th {
    padding: var(--root-half-space);
    border: var(--root-border-width) solid var(--root-secondary-color);
}

tbody tr:nth-child(even) {
    background-color: var(--root-td-color);
}

tbody tr:nth-child(odd) {
    background-color: var(--root-primary-color);
}

tbody tr:hover {
    background-color: var(--root-tertiary-color);
    cursor: pointer;
}

footer {
    width: calc(100% - 2 * var(--root-space));
    margin-top: auto;
    padding: var(--root-space);
    color: var(--root-secundary-color);
    background-color: var(--root-tertiary-color);
    border-radius: var(--root-border-radius);
    text-align: center;
    border-radius: 0 0 var(--root-border-radius) var(--root-border-radius);
}